#navbar {
  height: 80px;
}

#title-navbar {
  transition: all 0.5s;
}

#title-navbar:hover {
  color: blue;
  transition: all 0.5s;
  cursor: pointer;
}

#search {
  width: 350px;
}
.search-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 15px;
  margin-left: 135px;
}

.btns-navbar {
  position: absolute;
  right: 0;
  padding: 10px;
}
#btn-nav {
  padding: 20px;
}
